@import "md/material-design-color-palette.less";
@import "funciones.less";

body{
	//.grad(@mdc-black-lighter, @mdc-black-dark);
	background: #151515;
}

.flex-parent{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}
 
.flex-child{
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  flex-direction: column;
}