@import "md/material-design-color-palette.less";
@import "funciones.less";

.navbar-grey{
	background: @mdc-grey-800;
}

.nav-tabs{
	li.active{
		border-bottom: @mdc-green-500 5px solid;
	}
}

body{
	margin-top: 50px;
}

#modulo > .container{
	margin-top: 50px;
	margin-bottom: 80px;
}